
<nav class="navbar navbar-light navbar-expand-lg navigation-clean">
  <div class="container"><img src="assets/img/logo.png"><a class="navbar-brand" href="/">Erik's Short URL Service</a>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ms-auto"></ul>
    </div>
  </div>
</nav>
<section>
  <div class="d-lg-flex justify-content-lg-center">
    <div class="card shadow shorten-form-card">
      <div class="card-body shorten-form-card-body">
        <section class="shorten-form">
          <div class="container">
            <div class="intro">
              <h2 class="text-center">Enter a long URL to make a short version</h2>
              <p class="text-center">Long URLs are hard to type by hand or tweet.<br>This tools makes it simple to shorten them!</p>
            </div>
            <form class="d-flex justify-content-center flex-wrap" method="post">
              <div class="mb-3"><input class="form-control" type="url" name="url" placeholder="shorten your URL" [(ngModel)]="enteredURL"></div>
              <div class="mb-3"><button class="btn btn-primary" type="submit" (click)="postShortenURL()">shorten</button></div>
            </form>
            <div *ngIf="shortenedURL">
              <p>
                <br>
                Your short url is <a [href]="shortenedURL">{{ shortenedURL }}</a>
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>