.navigation-clean {
  background: var(--bs-gray-200);
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean img {
  height: 3em;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean .navbar-brand {
  margin-left: 22px;
  font-size: 1.5em;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  color: inherit;
  &:hover {
    color: #222;
  }
}


.shorten-form-card {
  background: rgba(255,255,255,0);
  margin-top: 3em;
  border-radius: 15px;
  border-style: solid;
  border-left-width: 2px;
}

.shorten-form-card-body {
  background: #ffffff;
  border-radius: 15px;
}

.shorten-form {
  color: #313437;
  background-color: #fff;
  padding: 50px 0;
}

.shorten-form p {
  color: #7d8285;
  line-height: 1.5;
}

.shorten-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.shorten-form .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.shorten-form .intro p {
  margin-bottom: 35px;
}

.shorten-form form {
  justify-content: center;
}

.shorten-form form .form-control {
  background: #eff1f4;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px;
}

.shorten-form form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.shorten-form form .btn {
  &:hover {
    opacity: 1;
  }

  &:active {
    transform: translateY(1px);
  }
}

.shorten-form form .btn-primary {
  background-color: #055ada !important;
  color: #fff;
  outline: none !important;
}

@media (min-width: 576px) {
  .shorten-form form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
  